@use "variables" as *;

.navbar {
  background: linear-gradient(to left, $color-principal, $color-secundario);
  width: 100%;
}

.navbar-nav {
  font-weight: bold;
  font-size: medium;
  gap: 3rem;

  a:hover {
    color: $color-hover;
    transition: color 0.5s ease;
  }
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column !important;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .navbar-toggler {
    display: block !important;
    border: none;
    z-index: 1050;
  }
}

@media (max-width: 458px) {
  .navbar-brand {
    font-size: 1.1rem;
  }

  .navbar-nav {
    gap: 1rem;
    font-size: small;
  }

  .logo {
    width: 80%;
    display: block;
    margin: 1rem auto;
  }

  .navbar-toggler {
    display: block !important;
  }
}