@use "variables" as *;
.navbar{
    background: linear-gradient(to left,$color-principal,$color-secundario);


}

.navbar-nav{
    font-weight: bold;
    font-size: medium;
    gap: 3rem;


}

.navbar-nav a:hover{
    color: $color-hover;
    transition: color 0.5s ease;
}
